**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/.git/
**/.gitignore
**/.gitattributes
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/node_modules/
**/coverage/
**/*.md
!**/SKILL.md
**/TestResults/
LICENSE
README.md
